<a href="https://colab.research.google.com/github/ArielIvan1981/DataScience/blob/main/Data%20Analytics/DataManipulationPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd

# Creacion de Dataset

In [22]:
datos = pd.DataFrame(data={"Pais":['Mexico','Argentina','Espana','Colombia'],
                        "Poblacion":[127212000, 45167000, 47099000, 48922000]})

In [23]:
datos

        Pais  Poblacion
0     Mexico  127212000
1  Argentina   45167000
2     Espana   47099000
3   Colombia   48922000

## Ordenamos por columna

In [24]:
datos.sort_values(["Poblacion"], ascending=False)

        Pais  Poblacion
0     Mexico  127212000
3   Colombia   48922000
2     Espana   47099000
1  Argentina   45167000

In [25]:
datos = datos.sort_values(["Pais"])
datos

        Pais  Poblacion
1  Argentina   45167000
3   Colombia   48922000
2     Espana   47099000
0     Mexico  127212000

## Agregar una columna

In [26]:
datos["Superficie"] = [1964375, 2780400, 505944, 1142748]
datos

        Pais  Poblacion  Superficie
1  Argentina   45167000     1964375
3   Colombia   48922000     2780400
2     Espana   47099000      505944
0     Mexico  127212000     1142748

### Asignar un mismo valor a todas las filas de una columna

In [27]:
datos['Deporte']= 'Futbol'
datos

        Pais  Poblacion  Superficie Deporte
1  Argentina   45167000     1964375  Futbol
3   Colombia   48922000     2780400  Futbol
2     Espana   47099000      505944  Futbol
0     Mexico  127212000     1142748  Futbol

## Eliminar una colummna

In [28]:
datos = datos.drop(['Deporte'],axis=1)
datos

        Pais  Poblacion  Superficie
1  Argentina   45167000     1964375
3   Colombia   48922000     2780400
2     Espana   47099000      505944
0     Mexico  127212000     1142748

## Eliminar multiples columnas

In [29]:
datos.drop(['Superficie','Pais'], axis=1)

   Poblacion
1   45167000
3   48922000
2   47099000
0  127212000

In [30]:
datos # Como no lo asignamos, el df anterior sigue "intacto"

        Pais  Poblacion  Superficie
1  Argentina   45167000     1964375
3   Colombia   48922000     2780400
2     Espana   47099000      505944
0     Mexico  127212000     1142748

## Agregar una fila nueva

In [31]:
cantidad_filas = len(datos) # obtengo la cantidad de filas
cantidad_filas

4

In [32]:
datos.loc[cantidad_filas] = ["Venesuela", 0, 916445] # Está mal escrito el pais
datos

        Pais  Poblacion  Superficie
1  Argentina   45167000     1964375
3   Colombia   48922000     2780400
2     Espana   47099000      505944
0     Mexico  127212000     1142748
4  Venesuela          0      916445

### Actualizo fila entera

In [33]:
datos.loc[4] = ["Venezuela", 0, 916445]
datos

        Pais  Poblacion  Superficie
1  Argentina   45167000     1964375
3   Colombia   48922000     2780400
2     Espana   47099000      505944
0     Mexico  127212000     1142748
4  Venezuela          0      916445

### Actualizo una celda

In [34]:
datos.at[4,'Poblacion'] = 32423000
datos

        Pais  Poblacion  Superficie
1  Argentina   45167000     1964375
3   Colombia   48922000     2780400
2     Espana   47099000      505944
0     Mexico  127212000     1142748
4  Venezuela   32423000      916445

## Eliminar una fila

In [35]:
datos.drop([3])

        Pais  Poblacion  Superficie
1  Argentina   45167000     1964375
2     Espana   47099000      505944
0     Mexico  127212000     1142748
4  Venezuela   32423000      916445

## Eliminar multiples filas

In [36]:
datos.drop([3,1])

        Pais  Poblacion  Superficie
2     Espana   47099000      505944
0     Mexico  127212000     1142748
4  Venezuela   32423000      916445

In [37]:
datos

        Pais  Poblacion  Superficie
1  Argentina   45167000     1964375
3   Colombia   48922000     2780400
2     Espana   47099000      505944
0     Mexico  127212000     1142748
4  Venezuela   32423000      916445

## Filtrar
### Paises con mas de 46 millones de habitantes

In [38]:
mas_de_46 = datos[datos['Poblacion'] > 46000000 ]
mas_de_46

       Pais  Poblacion  Superficie
3  Colombia   48922000     2780400
2    Espana   47099000      505944
0    Mexico  127212000     1142748

## Mas de 46 millones de habitantes y superficie menor de 600000 $km^2$

In [20]:
doble_filtro = datos[ (datos['Poblacion'] > 46000000) & (datos['Superficie'] < 600000) ]
doble_filtro

     Pais  Poblacion  Superficie
2  Espana   47099000      505944

## Buscar por un valor especifico

In [39]:
por_nombre = datos[datos['Pais'] == 'Colombia' ]
por_nombre

       Pais  Poblacion  Superficie
3  Colombia   48922000     2780400

## Paises con nombre mayor a 6 letras

In [40]:
nombre_largo = datos[datos['Pais'].str.len() > 6 ]
nombre_largo

        Pais  Poblacion  Superficie
1  Argentina   45167000     1964375
3   Colombia   48922000     2780400
4  Venezuela   32423000      916445

### Filtrar por True/False

In [41]:
arreglo = [True,False,False,False,True] # Esto es lo que realmente hacemos en los casos anteriores!
datos[arreglo]

        Pais  Poblacion  Superficie
1  Argentina   45167000     1964375
4  Venezuela   32423000      916445

### Obtener el indice de una fila

In [42]:
por_nombre = datos[datos['Pais'] == 'Colombia' ]
por_nombre
por_nombre.index.tolist()[0]

3

> ## Creditos: 
> Practica realizada del Libro: *Aprende Machine Learning*<BR>
> Autor: *Juan Ignacio Bagnato*